.App-header {
  background-color: #1c1c1c;
  padding: 20px;
  border-bottom: 1px solid #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo-link h1 {
  margin: 0;
  font-size: 24px;
}

.nav-link {
  color: #b3b3b3;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.nav-link:hover {
  color: white;
}