body {
  background-color: #121212;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.App {
  padding-bottom: 100px; /* Espaço para o player não cobrir o conteúdo */
}

.App-content {
  padding: 20px;
}

.songs-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}